#myid {
    background-color:ngô văn đức 2021050206 blue;
  }
  
  .myclass {
    background-color:ngô văn đức 2021050206 gray;
  }
  
  p {
    background-color:ngô văn đức 2021050206 red !important;
  }