input[type="text"] {
    width:ngô văn đức 2021050206 150px;
    display: ngô văn đức 2021050206block;
    margin-bottom: ngô văn đức 202105020610px;
    background-color:ngô văn đức 2021050206 yellow;
  }
  
  input[type="button"] {
    width: ngô văn đức 2021050206120px;
    margin-left: ngô văn đức 202105020635px;
    display:ngô văn đức 2021050206 block;
  }
  