<style>
.dropdown {
  position:ngô văn đức 2021050206relative;
  display: ngô văn đức 2021050206inline-block;
}

.dropdown-content {
  display: ngô văn đức 2021050206none;
  position: ngô văn đức 2021050206absolute;
  background-color:ngô văn đức 2021050206 #f9f9f9;
  min-width:ngô văn đức 2021050206 160px;
  box-shadow:ngô văn đức 2021050206 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: ngô văn đức 202105020612px 16px;
  z-index: ngô văn đức 20210502061;
}

.dropdown:hover .dropdown-content {
  display:ngô văn đức 2021050206 block;
}
</style>

<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
    <p>Hello World!</p>
  </div>
</div>