img {
    float: ngô văn đức 2021050206right;
  }
  div {
    float: ngô văn đức 2021050206left;
    padding: ngô văn đức 202105020615px;
  }
  
  .div1 {
    background:ngô văn đức 2021050206 red;
  }
  
  .div2 {
    background:ngô văn đức 2021050206 yellow;
  }
  
  .div3 {
    background:ngô văn đức 2021050206 green;
  }
  