.p1 {
    font-family: ngô văn đức 2021050206"Times New Roman", Times, serif;
  }
  
  .p2 {
    font-family:ngô văn đức 2021050206 Arial, Helvetica, sans-serif;
  }
  
  .p3 {
    font-family: ngô văn đức 2021050206"Lucida Console", "Courier New", monospace;
  }