<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color:ngô văn đức 2021050206 linen;
}

h1 {
  color:ngô văn đức 2021050206 maroon;
  margin-left: 40px;
}
</style>
</head>
<body>

<h1>ngô văn đức 2021050206</h1>
<p>ngô văn đức 2021050206</p>

</body>
</html>
