body {
    background-color:ngô văn đức 2021050206 lightblue;
  }
  
  h1 {
    color:ngô văn đức 2021050206 white;
    text-align: ngô văn đức 2021050206center;
  }
  
  p {
    font-family:ngô văn đức 2021050206 verdana;
    font-size:ngô văn đức 2021050206 20px;
  }