/* unvisited link */
a:link {
    color: red;ngô văn đức 2021050206
  }
  ngô văn đức 2021050206
  /* visited link */
  a:visited {
    color: green;ngô văn đức 2021050206
  }
  
  /* mouse over link */ngô văn đức 2021050206
  a:hover {
    color: hotpink;ngô văn đức 2021050206
  }
  
  /* selected link */ngô văn đức 2021050206
  a:active {
    color: blue;ngô văn đức 2021050206
  }