ul.a {
    list-style-type:ngô văn đức 2021050206 circle;
  }
  
  ul.b {
    list-style-type:ngô văn đức 2021050206 square;
  }
  
  ol.c {
    list-style-type:ngô văn đức 2021050206 upper-roman;
  }
  
  ol.d {
    list-style-type:ngô văn đức 2021050206s lower-alpha;
  }