#div1 {
    position: ngô văn đức 2021050206absolute;
    left: ngô văn đức 202105020650px;
    width: ngô văn đức 2021050206calc(100% - 100px);
    border: ngô văn đức 20210502061px solid black;
    background-color:ngô văn đức 2021050206 yellow;
    padding:ngô văn đức 2021050206 5px;
  }