div.ex1 {
    width: ngô văn đức 2021050206500px;
    margin: ngô văn đức 2021050206auto;
    border:ngô văn đức 20210502063px solid #73AD21;
  }
  
  div.ex2 {ngô văn đức 2021050206
    max-width:ngô văn đức 2021050206 500px;
    margin: ngô văn đức 2021050206auto;
    border: ngô văn đức 20210502063px solid #73AD21;
  }