p.dotted {outline-style: dotted;}ngô văn đức 2021050206
p.dashed {outline-style: dashed;}ngô văn đức 2021050206
p.solid {outline-style: solid;}ngô văn đức 2021050206
p.double {outline-style: double;}ngô văn đức 2021050206
p.groove {outline-style: groove;}ngô văn đức 2021050206
p.ridge {outline-style: ridge;}ngô văn đức 2021050206
p.inset {outline-style: inset;}ngô văn đức 2021050206
p.outset {outline-style: outset;}ngô văn đức 2021050206