div.static {
    position: ngô văn đức 2021050206static;
    border:ngô văn đức 2021050206 3px solid #73AD21;
  }
  div.relativengô văn đức 2021050206 {
    position:ngô văn đức 2021050206 relative;
    left: ngô văn đức 202105020630px;ngô văn đức 2021050206
    border: ngô văn đức 20210502063px solid #73AD21;
  }Z